<div class="container">
  {{>menubar}}
    {{#if email}}
    <h5>Bienvenido:<strong>{{first_name}}</strong>, Email:<strong>{{email}}</strong></h5>
    {{/if}}
    <h2>Ecommerce Coder</h2>
  
  </div>

