<div class="container-fluid">
    <div class="row mt-4 mb-3">
    
     <div class="col-md-4">
        <button class="btn btn-primary" id="btnCp" style="width:110px">Add.Product</button>
        <button class="btn btn-primary" id="btnMp" style="width:110px">Products</button>
        <button class="btn btn-primary" id="btnMc" style="width:110px">View Cart</button>
        </div>
      <div class="col-md-3"></div>
      <div class="col-md-4">
            <button class="btn btn-primary" id="btnRegister" style="width:110px">Register</button>
            <button class="btn btn-primary" id="btnLogin" style="width:110px">Login</button>
            <button class="btn btn-danger" id="btnLogout" style="width:110px">Logout</button>


      </div>
    </div>
    <hr/>
</div>
<script src="/js/navbar.js"></script>