<div class="container">
    
    <div style="width: 40%; border:solid;border-radius:5px; padding:2rem;">
    <h2 class="h2" style="color:blue;">Restaurar contraseña</h2>
    <form action="/api/sessions/restorepass" method="post" class="form">
        <label for="email">Email</label><input name="email" type="email" class="form-control"/>
        <label for="password">New Password</label><input name="password" type="password" class="form-control"/>
        <button class="btn btn-primary" type="submit" class="form-control" style="margin-top: 5px;">Restaurar Contraseña</button>
        


    </form>
    </div>
</div> 